.metadata
/bin/calibtool
/bin/csharp_x86
/bin/x64
/bin/x86
/build/windows_vs2013_new/ovrvision.v12.suo
/docs/html
/docs/man
/build/all_unity5/Assets/OvrvisionPro/Plugins/ovrvision.bundle
/build/all_unity5/Assets/OvrvisionPro/Plugins/x86/ovrvision.dll
/build/all_unity5/Assets/OvrvisionPro/Plugins/x86_64/ovrvision.dll
/build/all_unity5_metaio/Assets/OvrvisionPro/Plugins/x86/ovrvision.dll
/build/all_unity5_metaio/Assets/OvrvisionPro/Plugins/x86_64/ovrvision.dll
/build/all_unity5_metaio/Assets/OvrvisionPro/Plugins/ovrvision.bundle
/build/all_unity5/Library
/build/all_unity5_metaio/Library
build/windows_vs2013_new/.vs/ovrvision/v15/Browse.VC.db
build/windows_vs2013_new/ovrvision.opensdf
build/windows_vs2013_new/ovrvision.sdf
build/windows_vs2013_new/ovrvision.sdf
build/windows_vs2013_new/ovrvision.sdf
build/windows_vs2013_new/ovrvision/*
build/windows_vs2013_new/ovrvision.sdf
*.ipch
*.cache
*.opendb
*.db
*.db-wal
*.ide
*.db-shm
build/windows_vs2013_new/.vs/ovrvision/DesignTimeBuild/.dtbcache
build/windows_vs2013_new/.vs/ovrvision/v15/Server/sqlite3/db.lock
build/windows_vs2013_new/.vs/ovrvision/v15/Server/sqlite3/storage.ide-shm
build/windows_vs2013_new/.vs/ovrvision/v15/Server/sqlite3/storage.ide-wal
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/cl.command.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/CL.read.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/CL.write.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/link.command.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/link.read.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/link.write.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/ovrvision.lastbuildstate
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/ovrvision.write.1u.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/cl.command.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/CL.read.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/CL.write.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/link.command.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/link.read.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/link.write.1.tlog
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/ovrvision.lastbuildstate
build/windows_vs2013_new/ovrvision/Release_x64/ovrvision.tlog/ovrvision.write.1u.tlog
